* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.search {
    text-align: center;
}

.form-control {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 400px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.world {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
    padding-bottom: 15px;
}

.covid-data {
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 0 25px;
    border-radius: 10px;
    margin: 0 10px;
    color: white;
    width: 240px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.corona {
    position: absolute;
    bottom: -45px;
    right: -45px;
    width: 120px;
}

.covid-data p {
    font-size: 36px;
    font-weight: 600;
}

.type span {
    display: block;
    font-size: 20px;
}

.world .covid-data:nth-child(1) {
    background-color: #88B3F8;
}

.world .covid-data:nth-child(2) {
    background-color: #FB9648;
}

.world .covid-data:nth-child(3) {
    background-color: #87CE92;
}

.world .covid-data:nth-child(4) {
    background-color: #F95B5A;
}

.list-container {
    width: 100%;
    margin-top: 25px;
}

.country {
    text-align: center;
}

table {
    margin-left: 15px;
}

tbody {
    display: block;
    height: 55vh;
    overflow: auto;
}

thead {
    text-align: left;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em )
}

tr th {
    color: white;
    text-align: center;
}

tr th:nth-child(1) {
    background-color: black;
}
tr th:nth-child(2) {
    background-color: #88B3F8;
}

tr th:nth-child(3) {
    background-color: #FB9648;
}

tr th:nth-child(4) {
    background-color:  #87CE92;
}

tr th:nth-child(5) {
    background-color:  #F95B5A;
}

/* chart container */
.chart-container {
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    width: 850px;
}

.graph-title {
    text-align: center;
}

/* spinner */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
}

.fa-heart {
    color: red;
}

.spinner img {
    animation: rotation 2s infinite;
    width: 200px;
}

@keyframes rotation {
    0% {transform: translate(0)}
    25% {transform: translateX(50px)}
    50% {transform: translateY(50px)}
    75% {transform: translateX(-50px)}
    100% {transform: translateY(0px)}
}

@media (min-width: 1200px) {
    #root {
        margin: 0 auto;
    }
}

@media (max-width: 960px) {
    .world {
        flex-wrap: wrap;
    }
    .covid-data {
        margin-top: 10px;
    }
}

@media (max-width: 850px) {
    .chart-container {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .form-control {
        width: 100%;
    }
}